{
	"swagger": "2.0",
	"info": {
		"version": "v1",
		"title": "LH Partner Sandbox"
	},
	"host": "api-sandbox.lufthansa.com",
	"basePath": "/v1",
	"securityDefinitions": {
		"auth": {
			"type": "oauth2",
			"scopes": {
				"read:LH Open API": "read access"
			},
			"flow": "accessCode",
			"authorizationUrl": "https://api-sandbox.lufthansa.com/v1/partners/oauth/token",
			"tokenUrl": "https://api-sandbox.lufthansa.com/v1/partners/oauth/token"
		}
	},
	"schemes": ["https"],
	"consumes": ["application/json",
	"application/xml"],
	"produces": ["application/json",
	"application/xml"],
	"paths": {
		"/offers/fares/allfares": {
			"get": {
				"tags": ["all fares"],
				"summary": "offers Fares",
				"description": "Get all Fares Vayant for LH",
				"operationId": "getallFares",
				"produces": ["application/json",
				"application/xml"],
				"parameters": [{
					"name": "origin",
					"in": "query",
					"required": false,
					"type": "string"
				},
				{
					"name": "destination",
					"in": "query",
					"required": false,
					"type": "string"
				},
				{
					"name": "travel-date",
					"in": "query",
					"required": false,
					"type": "string"
				},
				{
					"name": "return-date",
					"in": "query",
					"required": false,
					"type": "string"
				},
				{
					"name": "cabin-class",
					"in": "query",
					"required": false,
					"type": "string"
				},
				{
					"name": "travelers",
					"in": "query",
					"required": false,
					"type": "string"
				},
				{
					"name": "country",
					"in": "query",
					"required": false,
					"type": "string"
				},
				{
					"name": "trackingid",
					"in": "query",
					"required": false,
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "Returns Fares response for LH",
						"schema": {
							"$ref": "#/definitions/LowestFaresResponse"
						},
						"examples": {
							"application/json": {
								"FaresResponse": {
									"AirShoppingRS": {
										"Document": {
											"MessageVersion": "1.0.0-db",
											"CreateTime": "2018-08-20T12:25:41.931+00:00"
										},
										"AirShoppingProcessing": {
											"Status": "Complete"
										},
										"ShoppingResponseIDs": {
											"ResponseID": "c5e88f50-9fdf-4fca-b5e2-9ecb580ed50e"
										},
										"OffersGroup": {
											"AirlineOffers": {
												"TotalOfferQuantity": 238,
												"AirlineOfferSnapshot": {
													"@DateTime": "2018-08-20T12:25:41.000+00:00"
												},
												"Owner": "LH",
												"AirlineOffer": [{
													"OfferID": {
														"@Owner": "LH",
														"$": "e47283d4-3c03-4019-abe4-e49f8e6a5e85"
													},
													"TotalPrice": {
														"DetailCurrencyPrice": {
															"Total": {
																"@Code": "GBP",
																"$": "154.2"
															},
															"Taxes": {
																"Total": {
																	"@Code": "GBP",
																	"$": "0"
																}
															}
														}
													},
													"PricedOffer": {
														"OfferPrice": {
															"@OfferItemID": "5dc0be41-129f-40cc-bf0f-9d4babcdc403",
															"RequestedDate": {
																"PriceDetail": {
																	"TotalAmount": {
																		"SimpleCurrencyPrice": {
																			"@Code": "GBP",
																			"$": "154.2"
																		}
																	},
																	"BaseAmount": {
																		"@Code": "GBP",
																		"$": "154.2"
																	},
																	"Taxes": {
																		"Total": {
																			"@Code": "GBP",
																			"$": "0"
																		}
																	}
																},
																"Associations": {
																	"AssociatedTraveler": {
																		"TravelerReferences": "9361c7e6-668d-4e0a-8c9f-ce2f93cbfcd9_ADT"
																	}
																}
															},
															"FareDetail": [{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "LHR",
																	"DepartureDate": "2018-10-15",
																	"ArrivalCode": "FRA",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "TEUCLSX3"
																		}
																	}
																}
															},
															{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "FRA",
																	"DepartureDate": "2018-10-30",
																	"ArrivalCode": "LHR",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "KEUCLSX3"
																		}
																	}
																}
															}]
														},
														"Associations": {
															"ApplicableFlight": {
																"FlightSegmentReference": [{
																	"@ref": "3dead7ce-350e-4f87-adf8-2a25c2494b61_SEGLH925",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "T"
																		},
																		"MarketingName": "Economy Classic"
																	}
																},
																{
																	"@ref": "d6667787-314b-487d-864d-2ee0b5a8049a_SEGLH900",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "K"
																		},
																		"MarketingName": "Economy Classic"
																	}
																}]
															},
															"OtherAssociation": {
																"OtherAssociation": [{
																	"Type": "deep link ffp",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/ffp?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30"
																},
																{
																	"Type": "deep link itco",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/itco?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30&outbound-segments=%28LH925%29&return-segments=%28LH900%29&fare=154.2&fare-currency=GBP"
																},
																{
																	"Type": "ffp web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																},
																{
																	"Type": "itco web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa2db5b705cfd35d5d7036c60ee097b84a56c7c216f028da6a1cde02cfd7336ea26d5494f0b314c74fdd36350b326eec3317292710c34112bde76264e558e502f840ecd27b2c520d0bfa264c2307b1d31b21220fd7d7176c558546c4451ab1e19b0a01e8c81a655e3270d7373b56e8daa80&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&MSE_lh.outfno=LH925&MSE_lh.retfno=LH900&MSE_lh.prictl=154.2&MSE_lh.pricfl=154.2&MSE_lh.curren=GBP&WT.mc_id=1234"
																},
																{
																	"Type": "ffp mobile web deep link",
																	"ReferenceValue": "https:\/\/mobile.lufthansa.com\/lp\/bkg\/?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																}]
															}
														}
													}
												},
												{
													"OfferID": {
														"@Owner": "LH",
														"$": "7b9ad567-ce77-41b7-b9a5-a1b3dbe74b1a"
													},
													"TotalPrice": {
														"DetailCurrencyPrice": {
															"Total": {
																"@Code": "GBP",
																"$": "154.2"
															},
															"Taxes": {
																"Total": {
																	"@Code": "GBP",
																	"$": "0"
																}
															}
														}
													},
													"PricedOffer": {
														"OfferPrice": {
															"@OfferItemID": "fa6b502e-f6bf-4738-b92f-648d4e928810",
															"RequestedDate": {
																"PriceDetail": {
																	"TotalAmount": {
																		"SimpleCurrencyPrice": {
																			"@Code": "GBP",
																			"$": "154.2"
																		}
																	},
																	"BaseAmount": {
																		"@Code": "GBP",
																		"$": "154.2"
																	},
																	"Taxes": {
																		"Total": {
																			"@Code": "GBP",
																			"$": "0"
																		}
																	}
																},
																"Associations": {
																	"AssociatedTraveler": {
																		"TravelerReferences": "9361c7e6-668d-4e0a-8c9f-ce2f93cbfcd9_ADT"
																	}
																}
															},
															"FareDetail": [{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "LHR",
																	"DepartureDate": "2018-10-15",
																	"ArrivalCode": "FRA",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "TEUCLSX3"
																		}
																	}
																}
															},
															{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "FRA",
																	"DepartureDate": "2018-10-30",
																	"ArrivalCode": "LHR",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "KEUCLSX3"
																		}
																	}
																}
															}]
														},
														"Associations": {
															"ApplicableFlight": {
																"FlightSegmentReference": [{
																	"@ref": "3dead7ce-350e-4f87-adf8-2a25c2494b61_SEGLH925",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "T"
																		},
																		"MarketingName": "Economy Classic"
																	}
																},
																{
																	"@ref": "ff3ce572-d3b9-497e-9b51-a0f3961d3b8e_SEGLH918",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "K"
																		},
																		"MarketingName": "Economy Classic"
																	}
																}]
															},
															"OtherAssociation": {
																"OtherAssociation": [{
																	"Type": "deep link ffp",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/ffp?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30"
																},
																{
																	"Type": "deep link itco",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/itco?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30&outbound-segments=%28LH925%29&return-segments=%28LH918%29&fare=154.2&fare-currency=GBP"
																},
																{
																	"Type": "ffp web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																},
																{
																	"Type": "itco web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa2db5b705cfd35d5d7036c60ee097b84a56c7c216f028da6a1cde02cfd7336ea26e7c250ab7e7b5bf1057d7d6fc0835ea67292710c34112bde76264e558e502f840ecd27b2c520d0bfa264c2307b1d31b21220fd7d7176c558546c4451ab1e19b0a01e8c81a655e3270d7373b56e8daa80&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&MSE_lh.outfno=LH925&MSE_lh.retfno=LH918&MSE_lh.prictl=154.2&MSE_lh.pricfl=154.2&MSE_lh.curren=GBP&WT.mc_id=1234"
																},
																{
																	"Type": "ffp mobile web deep link",
																	"ReferenceValue": "https:\/\/mobile.lufthansa.com\/lp\/bkg\/?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																}]
															}
														}
													}
												},
												{
													"OfferID": {
														"@Owner": "LH",
														"$": "b499cec8-d6b6-4b2d-8c1d-1dbb937921dc"
													},
													"TotalPrice": {
														"DetailCurrencyPrice": {
															"Total": {
																"@Code": "GBP",
																"$": "154.2"
															},
															"Taxes": {
																"Total": {
																	"@Code": "GBP",
																	"$": "0"
																}
															}
														}
													},
													"PricedOffer": {
														"OfferPrice": {
															"@OfferItemID": "f4ec04e9-c028-4b1e-a38c-12eae3166661",
															"RequestedDate": {
																"PriceDetail": {
																	"TotalAmount": {
																		"SimpleCurrencyPrice": {
																			"@Code": "GBP",
																			"$": "154.2"
																		}
																	},
																	"BaseAmount": {
																		"@Code": "GBP",
																		"$": "154.2"
																	},
																	"Taxes": {
																		"Total": {
																			"@Code": "GBP",
																			"$": "0"
																		}
																	}
																},
																"Associations": {
																	"AssociatedTraveler": {
																		"TravelerReferences": "9361c7e6-668d-4e0a-8c9f-ce2f93cbfcd9_ADT"
																	}
																}
															},
															"FareDetail": [{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "LHR",
																	"DepartureDate": "2018-10-15",
																	"ArrivalCode": "FRA",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "TEUCLSX3"
																		}
																	}
																}
															},
															{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "FRA",
																	"DepartureDate": "2018-10-30",
																	"ArrivalCode": "LHR",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "KEUCLSX3"
																		}
																	}
																}
															}]
														},
														"Associations": {
															"ApplicableFlight": {
																"FlightSegmentReference": [{
																	"@ref": "3dead7ce-350e-4f87-adf8-2a25c2494b61_SEGLH925",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "T"
																		},
																		"MarketingName": "Economy Classic"
																	}
																},
																{
																	"@ref": "d48c8026-f0b4-46fd-8e84-51b9e1125c9e_SEGLH916",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "K"
																		},
																		"MarketingName": "Economy Classic"
																	}
																}]
															},
															"OtherAssociation": {
																"OtherAssociation": [{
																	"Type": "deep link ffp",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/ffp?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30"
																},
																{
																	"Type": "deep link itco",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/itco?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30&outbound-segments=%28LH925%29&return-segments=%28LH916%29&fare=154.2&fare-currency=GBP"
																},
																{
																	"Type": "ffp web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																},
																{
																	"Type": "itco web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa2db5b705cfd35d5d7036c60ee097b84a56c7c216f028da6a1cde02cfd7336ea26bc38de459b6261308f02355ebc4bfe577292710c34112bde76264e558e502f840ecd27b2c520d0bfa264c2307b1d31b21220fd7d7176c558546c4451ab1e19b0a01e8c81a655e3270d7373b56e8daa80&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&MSE_lh.outfno=LH925&MSE_lh.retfno=LH916&MSE_lh.prictl=154.2&MSE_lh.pricfl=154.2&MSE_lh.curren=GBP&WT.mc_id=1234"
																},
																{
																	"Type": "ffp mobile web deep link",
																	"ReferenceValue": "https:\/\/mobile.lufthansa.com\/lp\/bkg\/?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																}]
															}
														}
													}
												},
												{
													"OfferID": {
														"@Owner": "LH",
														"$": "8e0689f2-f860-4f28-9015-d1c7fa2da6a4"
													},
													"TotalPrice": {
														"DetailCurrencyPrice": {
															"Total": {
																"@Code": "GBP",
																"$": "154.2"
															},
															"Taxes": {
																"Total": {
																	"@Code": "GBP",
																	"$": "0"
																}
															}
														}
													},
													"PricedOffer": {
														"OfferPrice": {
															"@OfferItemID": "b81467a5-421f-4deb-b7ae-b9314443ac5b",
															"RequestedDate": {
																"PriceDetail": {
																	"TotalAmount": {
																		"SimpleCurrencyPrice": {
																			"@Code": "GBP",
																			"$": "154.2"
																		}
																	},
																	"BaseAmount": {
																		"@Code": "GBP",
																		"$": "154.2"
																	},
																	"Taxes": {
																		"Total": {
																			"@Code": "GBP",
																			"$": "0"
																		}
																	}
																},
																"Associations": {
																	"AssociatedTraveler": {
																		"TravelerReferences": "9361c7e6-668d-4e0a-8c9f-ce2f93cbfcd9_ADT"
																	}
																}
															},
															"FareDetail": [{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "LHR",
																	"DepartureDate": "2018-10-15",
																	"ArrivalCode": "FRA",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "TEUCLSX3"
																		}
																	}
																}
															},
															{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "FRA",
																	"DepartureDate": "2018-10-30",
																	"ArrivalCode": "LHR",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "KEUCLSX3"
																		}
																	}
																}
															}]
														},
														"Associations": {
															"ApplicableFlight": {
																"FlightSegmentReference": [{
																	"@ref": "3dead7ce-350e-4f87-adf8-2a25c2494b61_SEGLH925",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "T"
																		},
																		"MarketingName": "Economy Classic"
																	}
																},
																{
																	"@ref": "449a8e4c-5a44-4cd5-884e-ab6050a46dd0_SEGLH914",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "K"
																		},
																		"MarketingName": "Economy Classic"
																	}
																}]
															},
															"OtherAssociation": {
																"OtherAssociation": [{
																	"Type": "deep link ffp",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/ffp?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30"
																},
																{
																	"Type": "deep link itco",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/itco?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30&outbound-segments=%28LH925%29&return-segments=%28LH914%29&fare=154.2&fare-currency=GBP"
																},
																{
																	"Type": "ffp web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																},
																{
																	"Type": "itco web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa2db5b705cfd35d5d7036c60ee097b84a56c7c216f028da6a1cde02cfd7336ea26c5864b6e58b117c2fa7865850fe4ddf07292710c34112bde76264e558e502f840ecd27b2c520d0bfa264c2307b1d31b21220fd7d7176c558546c4451ab1e19b0a01e8c81a655e3270d7373b56e8daa80&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&MSE_lh.outfno=LH925&MSE_lh.retfno=LH914&MSE_lh.prictl=154.2&MSE_lh.pricfl=154.2&MSE_lh.curren=GBP&WT.mc_id=1234"
																},
																{
																	"Type": "ffp mobile web deep link",
																	"ReferenceValue": "https:\/\/mobile.lufthansa.com\/lp\/bkg\/?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																}]
															}
														}
													}
												},
												{
													"OfferID": {
														"@Owner": "LH",
														"$": "c39d9d77-0508-4f7b-a973-a30d38c78fcb"
													},
													"TotalPrice": {
														"DetailCurrencyPrice": {
															"Total": {
																"@Code": "GBP",
																"$": "154.2"
															},
															"Taxes": {
																"Total": {
																	"@Code": "GBP",
																	"$": "0"
																}
															}
														}
													},
													"PricedOffer": {
														"OfferPrice": {
															"@OfferItemID": "0fb9f25a-af0a-4e0d-a064-da503d4c6416",
															"RequestedDate": {
																"PriceDetail": {
																	"TotalAmount": {
																		"SimpleCurrencyPrice": {
																			"@Code": "GBP",
																			"$": "154.2"
																		}
																	},
																	"BaseAmount": {
																		"@Code": "GBP",
																		"$": "154.2"
																	},
																	"Taxes": {
																		"Total": {
																			"@Code": "GBP",
																			"$": "0"
																		}
																	}
																},
																"Associations": {
																	"AssociatedTraveler": {
																		"TravelerReferences": "9361c7e6-668d-4e0a-8c9f-ce2f93cbfcd9_ADT"
																	}
																}
															},
															"FareDetail": [{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "LHR",
																	"DepartureDate": "2018-10-15",
																	"ArrivalCode": "FRA",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "TEUCLSX3"
																		}
																	}
																}
															},
															{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "FRA",
																	"DepartureDate": "2018-10-30",
																	"ArrivalCode": "LHR",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "KEUCLSX3"
																		}
																	}
																}
															}]
														},
														"Associations": {
															"ApplicableFlight": {
																"FlightSegmentReference": [{
																	"@ref": "3dead7ce-350e-4f87-adf8-2a25c2494b61_SEGLH925",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "T"
																		},
																		"MarketingName": "Economy Classic"
																	}
																},
																{
																	"@ref": "83b6694f-c74b-4980-afcc-8e3bff79b0ca_SEGLH910",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "K"
																		},
																		"MarketingName": "Economy Classic"
																	}
																}]
															},
															"OtherAssociation": {
																"OtherAssociation": [{
																	"Type": "deep link ffp",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/ffp?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30"
																},
																{
																	"Type": "deep link itco",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/itco?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30&outbound-segments=%28LH925%29&return-segments=%28LH910%29&fare=154.2&fare-currency=GBP"
																},
																{
																	"Type": "ffp web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																},
																{
																	"Type": "itco web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa2db5b705cfd35d5d7036c60ee097b84a56c7c216f028da6a1cde02cfd7336ea26402d2e42e8c0a0e9e69191e893f972b77292710c34112bde76264e558e502f840ecd27b2c520d0bfa264c2307b1d31b21220fd7d7176c558546c4451ab1e19b0a01e8c81a655e3270d7373b56e8daa80&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&MSE_lh.outfno=LH925&MSE_lh.retfno=LH910&MSE_lh.prictl=154.2&MSE_lh.pricfl=154.2&MSE_lh.curren=GBP&WT.mc_id=1234"
																},
																{
																	"Type": "ffp mobile web deep link",
																	"ReferenceValue": "https:\/\/mobile.lufthansa.com\/lp\/bkg\/?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																}]
															}
														}
													}
												},
												{
													"OfferID": {
														"@Owner": "LH",
														"$": "63a14d6f-b862-40fe-a11e-f35253e181dc"
													},
													"TotalPrice": {
														"DetailCurrencyPrice": {
															"Total": {
																"@Code": "GBP",
																"$": "154.2"
															},
															"Taxes": {
																"Total": {
																	"@Code": "GBP",
																	"$": "0"
																}
															}
														}
													},
													"PricedOffer": {
														"OfferPrice": {
															"@OfferItemID": "3997b1e8-89cc-422b-8f71-b3dc4e943e54",
															"RequestedDate": {
																"PriceDetail": {
																	"TotalAmount": {
																		"SimpleCurrencyPrice": {
																			"@Code": "GBP",
																			"$": "154.2"
																		}
																	},
																	"BaseAmount": {
																		"@Code": "GBP",
																		"$": "154.2"
																	},
																	"Taxes": {
																		"Total": {
																			"@Code": "GBP",
																			"$": "0"
																		}
																	}
																},
																"Associations": {
																	"AssociatedTraveler": {
																		"TravelerReferences": "9361c7e6-668d-4e0a-8c9f-ce2f93cbfcd9_ADT"
																	}
																}
															},
															"FareDetail": [{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "LHR",
																	"DepartureDate": "2018-10-15",
																	"ArrivalCode": "FRA",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "TEUCLSX3"
																		}
																	}
																}
															},
															{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "FRA",
																	"DepartureDate": "2018-10-30",
																	"ArrivalCode": "LHR",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "KEUCLSX3"
																		}
																	}
																}
															}]
														},
														"Associations": {
															"ApplicableFlight": {
																"FlightSegmentReference": [{
																	"@ref": "3dead7ce-350e-4f87-adf8-2a25c2494b61_SEGLH925",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "T"
																		},
																		"MarketingName": "Economy Classic"
																	}
																},
																{
																	"@ref": "46c1e5ae-ed59-41fc-b264-cb4acdec5880_SEGLH908",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "K"
																		},
																		"MarketingName": "Economy Classic"
																	}
																}]
															},
															"OtherAssociation": {
																"OtherAssociation": [{
																	"Type": "deep link ffp",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/ffp?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30"
																},
																{
																	"Type": "deep link itco",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/itco?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30&outbound-segments=%28LH925%29&return-segments=%28LH908%29&fare=154.2&fare-currency=GBP"
																},
																{
																	"Type": "ffp web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																},
																{
																	"Type": "itco web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa2db5b705cfd35d5d7036c60ee097b84a56c7c216f028da6a1cde02cfd7336ea26a78cddf8f496ba276821ea69722e37987292710c34112bde76264e558e502f840ecd27b2c520d0bfa264c2307b1d31b21220fd7d7176c558546c4451ab1e19b0a01e8c81a655e3270d7373b56e8daa80&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&MSE_lh.outfno=LH925&MSE_lh.retfno=LH908&MSE_lh.prictl=154.2&MSE_lh.pricfl=154.2&MSE_lh.curren=GBP&WT.mc_id=1234"
																},
																{
																	"Type": "ffp mobile web deep link",
																	"ReferenceValue": "https:\/\/mobile.lufthansa.com\/lp\/bkg\/?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																}]
															}
														}
													}
												},
												{
													"OfferID": {
														"@Owner": "LH",
														"$": "75bbc6b1-a263-467d-9e9c-74e8bfb19e78"
													},
													"TotalPrice": {
														"DetailCurrencyPrice": {
															"Total": {
																"@Code": "GBP",
																"$": "154.2"
															},
															"Taxes": {
																"Total": {
																	"@Code": "GBP",
																	"$": "0"
																}
															}
														}
													},
													"PricedOffer": {
														"OfferPrice": {
															"@OfferItemID": "549f3d98-d695-4efc-80b3-c1b989597e2c",
															"RequestedDate": {
																"PriceDetail": {
																	"TotalAmount": {
																		"SimpleCurrencyPrice": {
																			"@Code": "GBP",
																			"$": "154.2"
																		}
																	},
																	"BaseAmount": {
																		"@Code": "GBP",
																		"$": "154.2"
																	},
																	"Taxes": {
																		"Total": {
																			"@Code": "GBP",
																			"$": "0"
																		}
																	}
																},
																"Associations": {
																	"AssociatedTraveler": {
																		"TravelerReferences": "9361c7e6-668d-4e0a-8c9f-ce2f93cbfcd9_ADT"
																	}
																}
															},
															"FareDetail": [{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "LHR",
																	"DepartureDate": "2018-10-15",
																	"ArrivalCode": "FRA",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "TEUCLSX3"
																		}
																	}
																}
															},
															{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "FRA",
																	"DepartureDate": "2018-10-30",
																	"ArrivalCode": "LHR",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "KEUCLSX3"
																		}
																	}
																}
															}]
														},
														"Associations": {
															"ApplicableFlight": {
																"FlightSegmentReference": [{
																	"@ref": "3dead7ce-350e-4f87-adf8-2a25c2494b61_SEGLH925",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "T"
																		},
																		"MarketingName": "Economy Classic"
																	}
																},
																{
																	"@ref": "24bc75c9-3b78-4341-afbc-82411c280f16_SEGLH906",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "K"
																		},
																		"MarketingName": "Economy Classic"
																	}
																}]
															},
															"OtherAssociation": {
																"OtherAssociation": [{
																	"Type": "deep link ffp",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/ffp?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30"
																},
																{
																	"Type": "deep link itco",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/itco?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30&outbound-segments=%28LH925%29&return-segments=%28LH906%29&fare=154.2&fare-currency=GBP"
																},
																{
																	"Type": "ffp web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																},
																{
																	"Type": "itco web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa2db5b705cfd35d5d7036c60ee097b84a56c7c216f028da6a1cde02cfd7336ea26eb054d11981461cf6f95ef3eab85a5d67292710c34112bde76264e558e502f840ecd27b2c520d0bfa264c2307b1d31b21220fd7d7176c558546c4451ab1e19b0a01e8c81a655e3270d7373b56e8daa80&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&MSE_lh.outfno=LH925&MSE_lh.retfno=LH906&MSE_lh.prictl=154.2&MSE_lh.pricfl=154.2&MSE_lh.curren=GBP&WT.mc_id=1234"
																},
																{
																	"Type": "ffp mobile web deep link",
																	"ReferenceValue": "https:\/\/mobile.lufthansa.com\/lp\/bkg\/?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																}]
															}
														}
													}
												},
												{
													"OfferID": {
														"@Owner": "LH",
														"$": "4784a1a9-54ce-4af6-bbfa-e4a85d16b1f0"
													},
													"TotalPrice": {
														"DetailCurrencyPrice": {
															"Total": {
																"@Code": "GBP",
																"$": "154.2"
															},
															"Taxes": {
																"Total": {
																	"@Code": "GBP",
																	"$": "0"
																}
															}
														}
													},
													"PricedOffer": {
														"OfferPrice": {
															"@OfferItemID": "d660bc8e-dbc8-4b48-879e-c825a448aa6e",
															"RequestedDate": {
																"PriceDetail": {
																	"TotalAmount": {
																		"SimpleCurrencyPrice": {
																			"@Code": "GBP",
																			"$": "154.2"
																		}
																	},
																	"BaseAmount": {
																		"@Code": "GBP",
																		"$": "154.2"
																	},
																	"Taxes": {
																		"Total": {
																			"@Code": "GBP",
																			"$": "0"
																		}
																	}
																},
																"Associations": {
																	"AssociatedTraveler": {
																		"TravelerReferences": "9361c7e6-668d-4e0a-8c9f-ce2f93cbfcd9_ADT"
																	}
																}
															},
															"FareDetail": [{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "LHR",
																	"DepartureDate": "2018-10-15",
																	"ArrivalCode": "FRA",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "TEUCLSX3"
																		}
																	}
																}
															},
															{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "FRA",
																	"DepartureDate": "2018-10-30",
																	"ArrivalCode": "LHR",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "KEUCLSX3"
																		}
																	}
																}
															}]
														},
														"Associations": {
															"ApplicableFlight": {
																"FlightSegmentReference": [{
																	"@ref": "3dead7ce-350e-4f87-adf8-2a25c2494b61_SEGLH925",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "T"
																		},
																		"MarketingName": "Economy Classic"
																	}
																},
																{
																	"@ref": "d9e81549-63aa-4365-a4e9-3ca066eb6889_SEGLH904",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "K"
																		},
																		"MarketingName": "Economy Classic"
																	}
																}]
															},
															"OtherAssociation": {
																"OtherAssociation": [{
																	"Type": "deep link ffp",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/ffp?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30"
																},
																{
																	"Type": "deep link itco",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/itco?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30&outbound-segments=%28LH925%29&return-segments=%28LH904%29&fare=154.2&fare-currency=GBP"
																},
																{
																	"Type": "ffp web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																},
																{
																	"Type": "itco web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa2db5b705cfd35d5d7036c60ee097b84a56c7c216f028da6a1cde02cfd7336ea26575eb51057c40b599b4063ac894087dd7292710c34112bde76264e558e502f840ecd27b2c520d0bfa264c2307b1d31b21220fd7d7176c558546c4451ab1e19b0a01e8c81a655e3270d7373b56e8daa80&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&MSE_lh.outfno=LH925&MSE_lh.retfno=LH904&MSE_lh.prictl=154.2&MSE_lh.pricfl=154.2&MSE_lh.curren=GBP&WT.mc_id=1234"
																},
																{
																	"Type": "ffp mobile web deep link",
																	"ReferenceValue": "https:\/\/mobile.lufthansa.com\/lp\/bkg\/?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																}]
															}
														}
													}
												},
												{
													"OfferID": {
														"@Owner": "LH",
														"$": "cbbee387-e31a-49fb-a74b-948138aa25a1"
													},
													"TotalPrice": {
														"DetailCurrencyPrice": {
															"Total": {
																"@Code": "GBP",
																"$": "154.2"
															},
															"Taxes": {
																"Total": {
																	"@Code": "GBP",
																	"$": "0"
																}
															}
														}
													},
													"PricedOffer": {
														"OfferPrice": {
															"@OfferItemID": "01a97ae8-fb3a-4400-9290-648c54a05906",
															"RequestedDate": {
																"PriceDetail": {
																	"TotalAmount": {
																		"SimpleCurrencyPrice": {
																			"@Code": "GBP",
																			"$": "154.2"
																		}
																	},
																	"BaseAmount": {
																		"@Code": "GBP",
																		"$": "154.2"
																	},
																	"Taxes": {
																		"Total": {
																			"@Code": "GBP",
																			"$": "0"
																		}
																	}
																},
																"Associations": {
																	"AssociatedTraveler": {
																		"TravelerReferences": "9361c7e6-668d-4e0a-8c9f-ce2f93cbfcd9_ADT"
																	}
																}
															},
															"FareDetail": [{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "LHR",
																	"DepartureDate": "2018-10-15",
																	"ArrivalCode": "FRA",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "TEUCLSX3"
																		}
																	}
																}
															},
															{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "FRA",
																	"DepartureDate": "2018-10-30",
																	"ArrivalCode": "LHR",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "KEUCLSX3"
																		}
																	}
																}
															}]
														},
														"Associations": {
															"ApplicableFlight": {
																"FlightSegmentReference": [{
																	"@ref": "3dead7ce-350e-4f87-adf8-2a25c2494b61_SEGLH925",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "T"
																		},
																		"MarketingName": "Economy Classic"
																	}
																},
																{
																	"@ref": "a69fe073-8b06-42d2-88c0-ac2a1f76a116_SEGLH902",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "K"
																		},
																		"MarketingName": "Economy Classic"
																	}
																}]
															},
															"OtherAssociation": {
																"OtherAssociation": [{
																	"Type": "deep link ffp",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/ffp?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30"
																},
																{
																	"Type": "deep link itco",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/itco?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30&outbound-segments=%28LH925%29&return-segments=%28LH902%29&fare=154.2&fare-currency=GBP"
																},
																{
																	"Type": "ffp web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																},
																{
																	"Type": "itco web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa2db5b705cfd35d5d7036c60ee097b84a56c7c216f028da6a1cde02cfd7336ea267ceb0f41efb30a86cec40893408340097292710c34112bde76264e558e502f840ecd27b2c520d0bfa264c2307b1d31b21220fd7d7176c558546c4451ab1e19b0a01e8c81a655e3270d7373b56e8daa80&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&MSE_lh.outfno=LH925&MSE_lh.retfno=LH902&MSE_lh.prictl=154.2&MSE_lh.pricfl=154.2&MSE_lh.curren=GBP&WT.mc_id=1234"
																},
																{
																	"Type": "ffp mobile web deep link",
																	"ReferenceValue": "https:\/\/mobile.lufthansa.com\/lp\/bkg\/?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																}]
															}
														}
													}
												},
												{
													"OfferID": {
														"@Owner": "LH",
														"$": "b1ab687a-2abe-4421-9f67-0c65c2daf186"
													},
													"TotalPrice": {
														"DetailCurrencyPrice": {
															"Total": {
																"@Code": "GBP",
																"$": "154.2"
															},
															"Taxes": {
																"Total": {
																	"@Code": "GBP",
																	"$": "0"
																}
															}
														}
													},
													"PricedOffer": {
														"OfferPrice": {
															"@OfferItemID": "d39bc94c-3186-4fb4-a268-304292e269bd",
															"RequestedDate": {
																"PriceDetail": {
																	"TotalAmount": {
																		"SimpleCurrencyPrice": {
																			"@Code": "GBP",
																			"$": "154.2"
																		}
																	},
																	"BaseAmount": {
																		"@Code": "GBP",
																		"$": "154.2"
																	},
																	"Taxes": {
																		"Total": {
																			"@Code": "GBP",
																			"$": "0"
																		}
																	}
																},
																"Associations": {
																	"AssociatedTraveler": {
																		"TravelerReferences": "9361c7e6-668d-4e0a-8c9f-ce2f93cbfcd9_ADT"
																	}
																}
															},
															"FareDetail": [{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "LHR",
																	"DepartureDate": "2018-10-15",
																	"ArrivalCode": "FRA",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "TEUCLSX3"
																		}
																	}
																}
															},
															{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "FRA",
																	"DepartureDate": "2018-10-30",
																	"ArrivalCode": "LHR",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "KEUCLSX3"
																		}
																	}
																}
															}]
														},
														"Associations": {
															"ApplicableFlight": {
																"FlightSegmentReference": [{
																	"@ref": "3dead7ce-350e-4f87-adf8-2a25c2494b61_SEGLH925",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "T"
																		},
																		"MarketingName": "Economy Classic"
																	}
																},
																{
																	"@ref": "e2a405e7-20db-4bd8-b0f3-54d9de792dcd_SEGLH920",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "K"
																		},
																		"MarketingName": "Economy Classic"
																	}
																}]
															},
															"OtherAssociation": {
																"OtherAssociation": [{
																	"Type": "deep link ffp",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/ffp?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30"
																},
																{
																	"Type": "deep link itco",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/itco?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30&outbound-segments=%28LH925%29&return-segments=%28LH920%29&fare=154.2&fare-currency=GBP"
																},
																{
																	"Type": "ffp web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																},
																{
																	"Type": "itco web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa2db5b705cfd35d5d7036c60ee097b84a56c7c216f028da6a1cde02cfd7336ea26bd06b1932d29a790f2a8df5e5a9df0b77292710c34112bde76264e558e502f840ecd27b2c520d0bfa264c2307b1d31b21220fd7d7176c558546c4451ab1e19b0a01e8c81a655e3270d7373b56e8daa80&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&MSE_lh.outfno=LH925&MSE_lh.retfno=LH920&MSE_lh.prictl=154.2&MSE_lh.pricfl=154.2&MSE_lh.curren=GBP&WT.mc_id=1234"
																},
																{
																	"Type": "ffp mobile web deep link",
																	"ReferenceValue": "https:\/\/mobile.lufthansa.com\/lp\/bkg\/?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																}]
															}
														}
													}
												},
												{
													"OfferID": {
														"@Owner": "LH",
														"$": "d7cc9a0c-6b0a-4cac-93d7-dcfe71d995f6"
													},
													"TotalPrice": {
														"DetailCurrencyPrice": {
															"Total": {
																"@Code": "GBP",
																"$": "154.2"
															},
															"Taxes": {
																"Total": {
																	"@Code": "GBP",
																	"$": "0"
																}
															}
														}
													},
													"PricedOffer": {
														"OfferPrice": {
															"@OfferItemID": "6dae4c39-eec6-486a-be2c-615aa7230601",
															"RequestedDate": {
																"PriceDetail": {
																	"TotalAmount": {
																		"SimpleCurrencyPrice": {
																			"@Code": "GBP",
																			"$": "154.2"
																		}
																	},
																	"BaseAmount": {
																		"@Code": "GBP",
																		"$": "154.2"
																	},
																	"Taxes": {
																		"Total": {
																			"@Code": "GBP",
																			"$": "0"
																		}
																	}
																},
																"Associations": {
																	"AssociatedTraveler": {
																		"TravelerReferences": "9361c7e6-668d-4e0a-8c9f-ce2f93cbfcd9_ADT"
																	}
																}
															},
															"FareDetail": [{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "LHR",
																	"DepartureDate": "2018-10-15",
																	"ArrivalCode": "FRA",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "TEUCLSX3"
																		}
																	}
																}
															},
															{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "FRA",
																	"DepartureDate": "2018-10-30",
																	"ArrivalCode": "LHR",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "KEUCLSX3"
																		}
																	}
																}
															}]
														},
														"Associations": {
															"ApplicableFlight": {
																"FlightSegmentReference": [{
																	"@ref": "33b72e96-6c2d-4768-937d-f8645964853c_SEGLH923",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "T"
																		},
																		"MarketingName": "Economy Classic"
																	}
																},
																{
																	"@ref": "98141c39-ddea-4b21-b9da-0a9f3796b53f_SEGLH924",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "K"
																		},
																		"MarketingName": "Economy Classic"
																	}
																}]
															},
															"OtherAssociation": {
																"OtherAssociation": [{
																	"Type": "deep link ffp",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/ffp?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30"
																},
																{
																	"Type": "deep link itco",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/itco?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30&outbound-segments=%28LH923%29&return-segments=%28LH924%29&fare=154.2&fare-currency=GBP"
																},
																{
																	"Type": "ffp web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																},
																{
																	"Type": "itco web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa2db5b705cfd35d5d7036c60ee097b84a5c1acb1d8a55457d9fff19a9cad490ca72e29e85bd9bc5d702f0d8c3afa8db01d7292710c34112bde76264e558e502f840ecd27b2c520d0bfa264c2307b1d31b21220fd7d7176c558546c4451ab1e19b0a01e8c81a655e3270d7373b56e8daa80&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&MSE_lh.outfno=LH923&MSE_lh.retfno=LH924&MSE_lh.prictl=154.2&MSE_lh.pricfl=154.2&MSE_lh.curren=GBP&WT.mc_id=1234"
																},
																{
																	"Type": "ffp mobile web deep link",
																	"ReferenceValue": "https:\/\/mobile.lufthansa.com\/lp\/bkg\/?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																}]
															}
														}
													}
												},
												{
													"OfferID": {
														"@Owner": "LH",
														"$": "f62a0a3f-e5a0-4e88-89cc-3e4e441b915b"
													},
													"TotalPrice": {
														"DetailCurrencyPrice": {
															"Total": {
																"@Code": "GBP",
																"$": "154.2"
															},
															"Taxes": {
																"Total": {
																	"@Code": "GBP",
																	"$": "0"
																}
															}
														}
													},
													"PricedOffer": {
														"OfferPrice": {
															"@OfferItemID": "f67fffc0-9bb4-4f68-b2ba-1fded4c9ce4f",
															"RequestedDate": {
																"PriceDetail": {
																	"TotalAmount": {
																		"SimpleCurrencyPrice": {
																			"@Code": "GBP",
																			"$": "154.2"
																		}
																	},
																	"BaseAmount": {
																		"@Code": "GBP",
																		"$": "154.2"
																	},
																	"Taxes": {
																		"Total": {
																			"@Code": "GBP",
																			"$": "0"
																		}
																	}
																},
																"Associations": {
																	"AssociatedTraveler": {
																		"TravelerReferences": "9361c7e6-668d-4e0a-8c9f-ce2f93cbfcd9_ADT"
																	}
																}
															},
															"FareDetail": [{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "LHR",
																	"DepartureDate": "2018-10-15",
																	"ArrivalCode": "FRA",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "TEUCLSX3"
																		}
																	}
																}
															},
															{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "FRA",
																	"DepartureDate": "2018-10-30",
																	"ArrivalCode": "LHR",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "KEUCLSX3"
																		}
																	}
																}
															}]
														},
														"Associations": {
															"ApplicableFlight": {
																"FlightSegmentReference": [{
																	"@ref": "33b72e96-6c2d-4768-937d-f8645964853c_SEGLH923",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "T"
																		},
																		"MarketingName": "Economy Classic"
																	}
																},
																{
																	"@ref": "e2a405e7-20db-4bd8-b0f3-54d9de792dcd_SEGLH920",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "K"
																		},
																		"MarketingName": "Economy Classic"
																	}
																}]
															},
															"OtherAssociation": {
																"OtherAssociation": [{
																	"Type": "deep link ffp",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/ffp?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30"
																},
																{
																	"Type": "deep link itco",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/itco?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30&outbound-segments=%28LH923%29&return-segments=%28LH920%29&fare=154.2&fare-currency=GBP"
																},
																{
																	"Type": "ffp web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																},
																{
																	"Type": "itco web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa2db5b705cfd35d5d7036c60ee097b84a5c1acb1d8a55457d9fff19a9cad490ca7bd06b1932d29a790f2a8df5e5a9df0b77292710c34112bde76264e558e502f840ecd27b2c520d0bfa264c2307b1d31b21220fd7d7176c558546c4451ab1e19b0a01e8c81a655e3270d7373b56e8daa80&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&MSE_lh.outfno=LH923&MSE_lh.retfno=LH920&MSE_lh.prictl=154.2&MSE_lh.pricfl=154.2&MSE_lh.curren=GBP&WT.mc_id=1234"
																},
																{
																	"Type": "ffp mobile web deep link",
																	"ReferenceValue": "https:\/\/mobile.lufthansa.com\/lp\/bkg\/?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																}]
															}
														}
													}
												},
												{
													"OfferID": {
														"@Owner": "LH",
														"$": "6db26238-fb24-4bc2-a6a5-4c0db2928ff8"
													},
													"TotalPrice": {
														"DetailCurrencyPrice": {
															"Total": {
																"@Code": "GBP",
																"$": "154.2"
															},
															"Taxes": {
																"Total": {
																	"@Code": "GBP",
																	"$": "0"
																}
															}
														}
													},
													"PricedOffer": {
														"OfferPrice": {
															"@OfferItemID": "27a87756-48c1-490a-8607-e77ee4faf68c",
															"RequestedDate": {
																"PriceDetail": {
																	"TotalAmount": {
																		"SimpleCurrencyPrice": {
																			"@Code": "GBP",
																			"$": "154.2"
																		}
																	},
																	"BaseAmount": {
																		"@Code": "GBP",
																		"$": "154.2"
																	},
																	"Taxes": {
																		"Total": {
																			"@Code": "GBP",
																			"$": "0"
																		}
																	}
																},
																"Associations": {
																	"AssociatedTraveler": {
																		"TravelerReferences": "9361c7e6-668d-4e0a-8c9f-ce2f93cbfcd9_ADT"
																	}
																}
															},
															"FareDetail": [{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "LHR",
																	"DepartureDate": "2018-10-15",
																	"ArrivalCode": "FRA",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "TEUCLSX3"
																		}
																	}
																}
															},
															{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "FRA",
																	"DepartureDate": "2018-10-30",
																	"ArrivalCode": "LHR",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "KEUCLSX3"
																		}
																	}
																}
															}]
														},
														"Associations": {
															"ApplicableFlight": {
																"FlightSegmentReference": [{
																	"@ref": "33b72e96-6c2d-4768-937d-f8645964853c_SEGLH923",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "T"
																		},
																		"MarketingName": "Economy Classic"
																	}
																},
																{
																	"@ref": "83b6694f-c74b-4980-afcc-8e3bff79b0ca_SEGLH910",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "K"
																		},
																		"MarketingName": "Economy Classic"
																	}
																}]
															},
															"OtherAssociation": {
																"OtherAssociation": [{
																	"Type": "deep link ffp",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/ffp?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30"
																},
																{
																	"Type": "deep link itco",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/itco?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30&outbound-segments=%28LH923%29&return-segments=%28LH910%29&fare=154.2&fare-currency=GBP"
																},
																{
																	"Type": "ffp web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																},
																{
																	"Type": "itco web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa2db5b705cfd35d5d7036c60ee097b84a5c1acb1d8a55457d9fff19a9cad490ca7402d2e42e8c0a0e9e69191e893f972b77292710c34112bde76264e558e502f840ecd27b2c520d0bfa264c2307b1d31b21220fd7d7176c558546c4451ab1e19b0a01e8c81a655e3270d7373b56e8daa80&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&MSE_lh.outfno=LH923&MSE_lh.retfno=LH910&MSE_lh.prictl=154.2&MSE_lh.pricfl=154.2&MSE_lh.curren=GBP&WT.mc_id=1234"
																},
																{
																	"Type": "ffp mobile web deep link",
																	"ReferenceValue": "https:\/\/mobile.lufthansa.com\/lp\/bkg\/?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																}]
															}
														}
													}
												},
												{
													"OfferID": {
														"@Owner": "LH",
														"$": "ab1cdf46-a5b4-4fd9-8454-ee0f286f8fd3"
													},
													"TotalPrice": {
														"DetailCurrencyPrice": {
															"Total": {
																"@Code": "GBP",
																"$": "154.2"
															},
															"Taxes": {
																"Total": {
																	"@Code": "GBP",
																	"$": "0"
																}
															}
														}
													},
													"PricedOffer": {
														"OfferPrice": {
															"@OfferItemID": "b7a0aa97-a73e-4a3f-a2f7-48134cde4322",
															"RequestedDate": {
																"PriceDetail": {
																	"TotalAmount": {
																		"SimpleCurrencyPrice": {
																			"@Code": "GBP",
																			"$": "154.2"
																		}
																	},
																	"BaseAmount": {
																		"@Code": "GBP",
																		"$": "154.2"
																	},
																	"Taxes": {
																		"Total": {
																			"@Code": "GBP",
																			"$": "0"
																		}
																	}
																},
																"Associations": {
																	"AssociatedTraveler": {
																		"TravelerReferences": "9361c7e6-668d-4e0a-8c9f-ce2f93cbfcd9_ADT"
																	}
																}
															},
															"FareDetail": [{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "LHR",
																	"DepartureDate": "2018-10-15",
																	"ArrivalCode": "FRA",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "TEUCLSX3"
																		}
																	}
																}
															},
															{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "FRA",
																	"DepartureDate": "2018-10-30",
																	"ArrivalCode": "LHR",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "KEUCLSX3"
																		}
																	}
																}
															}]
														},
														"Associations": {
															"ApplicableFlight": {
																"FlightSegmentReference": [{
																	"@ref": "33b72e96-6c2d-4768-937d-f8645964853c_SEGLH923",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "T"
																		},
																		"MarketingName": "Economy Classic"
																	}
																},
																{
																	"@ref": "46c1e5ae-ed59-41fc-b264-cb4acdec5880_SEGLH908",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "K"
																		},
																		"MarketingName": "Economy Classic"
																	}
																}]
															},
															"OtherAssociation": {
																"OtherAssociation": [{
																	"Type": "deep link ffp",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/ffp?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30"
																},
																{
																	"Type": "deep link itco",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/itco?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30&outbound-segments=%28LH923%29&return-segments=%28LH908%29&fare=154.2&fare-currency=GBP"
																},
																{
																	"Type": "ffp web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																},
																{
																	"Type": "itco web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa2db5b705cfd35d5d7036c60ee097b84a5c1acb1d8a55457d9fff19a9cad490ca7a78cddf8f496ba276821ea69722e37987292710c34112bde76264e558e502f840ecd27b2c520d0bfa264c2307b1d31b21220fd7d7176c558546c4451ab1e19b0a01e8c81a655e3270d7373b56e8daa80&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&MSE_lh.outfno=LH923&MSE_lh.retfno=LH908&MSE_lh.prictl=154.2&MSE_lh.pricfl=154.2&MSE_lh.curren=GBP&WT.mc_id=1234"
																},
																{
																	"Type": "ffp mobile web deep link",
																	"ReferenceValue": "https:\/\/mobile.lufthansa.com\/lp\/bkg\/?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																}]
															}
														}
													}
												},
												{
													"OfferID": {
														"@Owner": "LH",
														"$": "aa342e88-af31-4047-9aa0-842192b2a499"
													},
													"TotalPrice": {
														"DetailCurrencyPrice": {
															"Total": {
																"@Code": "GBP",
																"$": "154.2"
															},
															"Taxes": {
																"Total": {
																	"@Code": "GBP",
																	"$": "0"
																}
															}
														}
													},
													"PricedOffer": {
														"OfferPrice": {
															"@OfferItemID": "f51de2c5-0b6e-4fc8-ac66-b4b53d833a9c",
															"RequestedDate": {
																"PriceDetail": {
																	"TotalAmount": {
																		"SimpleCurrencyPrice": {
																			"@Code": "GBP",
																			"$": "154.2"
																		}
																	},
																	"BaseAmount": {
																		"@Code": "GBP",
																		"$": "154.2"
																	},
																	"Taxes": {
																		"Total": {
																			"@Code": "GBP",
																			"$": "0"
																		}
																	}
																},
																"Associations": {
																	"AssociatedTraveler": {
																		"TravelerReferences": "9361c7e6-668d-4e0a-8c9f-ce2f93cbfcd9_ADT"
																	}
																}
															},
															"FareDetail": [{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "LHR",
																	"DepartureDate": "2018-10-15",
																	"ArrivalCode": "FRA",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "TEUCLSX3"
																		}
																	}
																}
															},
															{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "FRA",
																	"DepartureDate": "2018-10-30",
																	"ArrivalCode": "LHR",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "KEUCLSX3"
																		}
																	}
																}
															}]
														},
														"Associations": {
															"ApplicableFlight": {
																"FlightSegmentReference": [{
																	"@ref": "33b72e96-6c2d-4768-937d-f8645964853c_SEGLH923",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "T"
																		},
																		"MarketingName": "Economy Classic"
																	}
																},
																{
																	"@ref": "24bc75c9-3b78-4341-afbc-82411c280f16_SEGLH906",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "K"
																		},
																		"MarketingName": "Economy Classic"
																	}
																}]
															},
															"OtherAssociation": {
																"OtherAssociation": [{
																	"Type": "deep link ffp",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/ffp?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30"
																},
																{
																	"Type": "deep link itco",
																	"ReferenceValue": "https:\/\/api-sandbox.lufthansa.com\/faresdeeplinkvayant_v1.0.0\/deeplink\/itco?catalogues=lh&origin=lhr&destination=fra&lang=en&country=GB&trackingid=1234&travelers=%28ADULT%3D1%29&cabin-class=economy&travel-date=2018-10-15&return-date=2018-10-30&outbound-segments=%28LH923%29&return-segments=%28LH906%29&fare=154.2&fare-currency=GBP"
																},
																{
																	"Type": "ffp web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																},
																{
																	"Type": "itco web deep link",
																	"ReferenceValue": "https:\/\/www.uat3.lufthansa.com\/deeplink\/partner?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa2db5b705cfd35d5d7036c60ee097b84a5c1acb1d8a55457d9fff19a9cad490ca7eb054d11981461cf6f95ef3eab85a5d67292710c34112bde76264e558e502f840ecd27b2c520d0bfa264c2307b1d31b21220fd7d7176c558546c4451ab1e19b0a01e8c81a655e3270d7373b56e8daa80&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&MSE_lh.outfno=LH923&MSE_lh.retfno=LH906&MSE_lh.prictl=154.2&MSE_lh.pricfl=154.2&MSE_lh.curren=GBP&WT.mc_id=1234"
																},
																{
																	"Type": "ffp mobile web deep link",
																	"ReferenceValue": "https:\/\/mobile.lufthansa.com\/lp\/bkg\/?partnerId=13701&Language=en&Country=GB&ENC=a7e617a018f9da0cfe2c880d18c4fb25bc813f7378041b5b2355b840ce095b602a4e7ed84cc841df4320218aceaf0e7e50846fca248eb539894889f0fd08613d79db15f5f3ee3e3aea0c0d7047db9fe0d95219d386e7e2fd601f2fa04f53af6303ab5b3fed3cc18ec3ff29dc102ad4d4362c8fecee099bd8ac80a4a9e98a49eaca467d0900fac3fbfe061fdd7a2dfaa224bf767846ea19e9f2e751c94b81518833e0e6f03b1d12fb8dbc462503a3caec&dwmwr=MSE_lh.partner=1234&MSE_lh.origin=LHR&MSE_lh.destin=FRA&MSE_lh.outdat=2018-10-15&MSE_lh.retdat=2018-10-30&MSE_lh.bookcl=E&WT.mc_id=1234"
																}]
															}
														}
													}
												},
												{
													"OfferID": {
														"@Owner": "LH",
														"$": "a7f46ca9-a304-45c7-b505-91531aa8ae5c"
													},
													"TotalPrice": {
														"DetailCurrencyPrice": {
															"Total": {
																"@Code": "GBP",
																"$": "154.2"
															},
															"Taxes": {
																"Total": {
																	"@Code": "GBP",
																	"$": "0"
																}
															}
														}
													},
													"PricedOffer": {
														"OfferPrice": {
															"@OfferItemID": "51453f18-4b49-4d0d-b0ef-c4b9a777b7fb",
															"RequestedDate": {
																"PriceDetail": {
																	"TotalAmount": {
																		"SimpleCurrencyPrice": {
																			"@Code": "GBP",
																			"$": "154.2"
																		}
																	},
																	"BaseAmount": {
																		"@Code": "GBP",
																		"$": "154.2"
																	},
																	"Taxes": {
																		"Total": {
																			"@Code": "GBP",
																			"$": "0"
																		}
																	}
																},
																"Associations": {
																	"AssociatedTraveler": {
																		"TravelerReferences": "9361c7e6-668d-4e0a-8c9f-ce2f93cbfcd9_ADT"
																	}
																}
															},
															"FareDetail": [{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "LHR",
																	"DepartureDate": "2018-10-15",
																	"ArrivalCode": "FRA",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "TEUCLSX3"
																		}
																	}
																}
															},
															{
																"FareComponent": {
																	"AirlineID": "LH",
																	"DepartureCode": "FRA",
																	"DepartureDate": "2018-10-30",
																	"ArrivalCode": "LHR",
																	"FareBasis": {
																		"FareBasisCode": {
																			"Code": "KEUCLSX3"
																		}
																	}
																}
															}]
														},
														"Associations": {
															"ApplicableFlight": {
																"FlightSegmentReference": [{
																	"@ref": "33b72e96-6c2d-4768-937d-f8645964853c_SEGLH923",
																	"ClassOfService": {
																		"Code": {
																			"@SeatsLeft": "9",
																			"$": "T"
																		},
																		"MarketingName": "Economy Classic"
																	}
[...]
